@use '../../common/color.scss';

.time_week_wrapper{
    display: flex;
    flex-direction: column;
    gap: 8px;
    .title{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
    }
    .time_week{
      input{
        display: none;
      }
      input:checked + label{
        color: color.$white;
        background-color: color.$green;
      }
      label{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 16px;
        width: 71px;
        height: 34px;
        border: 1px solid #969696;
        border-radius: 8px;
        color: #969696;
        font-size: bold;
        cursor: pointer;
      }
    }}