@use '../../../../App.scss';
@use '../../common/color.scss';
@use '../../common/text.scss';
@use '../../common/button.scss';
@use '../../common/input.scss';
@use '../../common/common.scss';

#corp_info_title{
      
    .bg{
      height: 180px;
      background-image: url('../../../img/commu_bg_01.png');
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .corp_info{
      background-color: color.$white;
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 24px 40px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      .subtitle{
        font-weight: bold;
        line-height: 1.6;
      }
      .info{
        ul{
          li{
            list-style: disc;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.6;
          }
        }
      }
    }
  }