@use './color.scss';

.btn{
    padding: 16px 8px;
    background-color: color.$btn-bg;
    color: color.$btn-font;
    font-weight: bold;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
.btn_commu{
    margin-top: 8px;
    border-radius: 16px;
    font-weight: 400;
    font-size: 12px;
    padding: 7px;
    background-color: #0e2b36;
    color: color.$white;
    box-sizing: border-box;
    strong{
      color: #d4de56;
      margin-left: 4px;
    }
}