$white : #fff;
$purple : #7e57c2;
$purple01 : #8117B8;
$yellow : #f2d249;
$orange : #ff7a00;
$bg-color: #f8f8f8;
//btn
$btn-bg: #eee;
$btn-font: #808080;
//event
$event-title: #6c6c6c;
$event-apply-number: #ABABAB;