@use '../../../../App.scss';
@use '../../common/color.scss';
@use '../../common/text.scss';
@use '../../common/button.scss';
@use '../../common/input.scss';
@use '../../common/common.scss';

.container{
    display: flex;
    .item{
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 12px;
      .title{
        font-size: 20px !important;
        line-height: 1.3 !important;
        font-weight: bold !important;
        padding: 0 !important;
      }
      .count{
        color: #0e2b36;
        font-size: 20px;
        line-height: 1.3;
        font-weight: 400;
      }
    }
    #progressing_event{
      .count{
        color: color.$orange;
      }
    }
  }