@use '../../../css/common/color.scss';

.modal{
    .modal_bg{
      background-color: #000;
      opacity: 0.5;
      width: 100vw;
      height: 100vh;
      z-index: 0;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
    .contents{
      position: fixed;
      background-color: color.$white;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius: 10px;
    }
    .text_container{
      padding: 0px 24px;
    }
  }