@use '../../../../App.scss';
@use '../../common/color.scss';
@use '../../common/text.scss';
@use '../../common/button.scss';
@use '../../common/input.scss';
@use '../../common/common.scss';

.header{
    @extend .login_w;
    white-space: pre-wrap;
    padding: 16px 32px;
    background-color: color.$white;
    border-radius: 10px;
    .container{
      padding: 8px;
      .title{
        @extend .title;
        padding-bottom: 20px;
      }
      .subtitle{
        @extend .subtitle;
      }
    }
    a{
      font-size: 12px;
      line-height: 1.6;
      display: flex;
      justify-content: end;
      align-items: center;
      color: inherit;
      svg{
        padding-left: 8px;
      }
    }
  }