
@use './asset/css/common/color.scss';
@use './asset/css/common/text.scss';
@use './asset/css/common/button.scss';
@use './asset/css/common/input.scss';
@use './asset/css/common/common.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
// $bg-color: #f8f8f8;
//Noto-Sans
@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('./asset/font/PretendardVariable.woff2') format('woff2-variations');
}
*{
  font-family: 'Pretendard Variable', sans-serif !important ;
}
div{
  box-sizing: border-box;
}


#app{
  white-space: break-spaces;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: color.$bg-color;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  overflow: scroll;
  overflow-x: hidden;
  padding-bottom: 32px;
  .main_container{
    width: 100%;
    box-sizing: border-box;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: color.$white;
      width: 100%;
      height: 60px;
      #logo{
        padding-left: 32px;
      }
      #header_info{
        display: flex;
        font-weight: bold;
        font-size: 16px;
        align-items: center;
        .hi_community,.hi_my_page,.hi_user,.hi_menu{
          padding: 8px 16px;
          display: flex;
        }
        .hi_user{
          svg{
            font-size: 32px;
          }
        }
        .active{
          border-bottom: 2px solid #000;
        }
        .hi_menu{
          svg{
            font-size: 24px;
          }
        }
      }
    }
    #main{
      width: 100%;
      display: flex;
      gap: 30px;
      #side_menu{
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 248px;
        .menu_container{
          background-color: color.$white;
          padding: 16px 32px;
        border-radius: 10px;
        .container{
          display: flex;
          flex-direction: column;
          .menu{
            font-size: 18px;
            line-height: 1.6;
            font-weight: 400;
            padding: 4px 8px;
            cursor: pointer;
          }
        }
        }
        .btn{
          border-radius: 10px;
          padding: 16px;
          color: color.$purple01;
          box-sizing: border-box;
          background-color: rgba($color: #fff, $alpha: 0.0);
          border: 1px solid color.$purple01;
        }
      }
      #side_menu_mp{
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 25%;
        .menu_container{
          background-color: color.$white;
          padding: 16px 32px;
        border-radius: 10px;
          .menu{
            font-size: 18px;
            line-height: 1.6;
            font-weight: 400;
            padding: 4px 8px;
            cursor: pointer;
          }
        }
        .btn{
          border-radius: 10px;
          padding: 16px;
          color: color.$purple01;
          box-sizing: border-box;
          background-color: rgba($color: #fff, $alpha: 0.0);
          border: 1px solid color.$purple01;
        }
      }
      //modal
      .modal{
        .modal_bg{
          background-color: #000;
          opacity: 0.5;
          width: 100vw;
          height: 100vh;
          z-index: 0;
          position: fixed;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
        }
        .contents{
          position: fixed;
          background-color: color.$white;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          border-radius: 10px;
        }
      }
      #meetup_join{
        display: none;
        .contents{
          width: 512px;
          height: 857px;
          .title{
            position: absolute;
            left: 33px;
            top: 32px;
            font-weight: 900;
            font-size: 24px;
            line-height: 1.6;
          }
          .time{
            position: absolute;
            top: 83px;
            left: 33px;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.6;
          }
          .line{
            position: absolute;
            border: 1px solid #000;
            left: 32px;
            top: 140px;
            width: 437px;
          }
          .desc{
            position: absolute;
            left: 33px;
            top: 159px;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.6;
          }
          .content_title{
            position: absolute;
            left: 33px;
            font-weight: bold;
            font-size: 16px;
            line-height: 1.6;
          }
          #mj_ct_00{
            top: 215px;
          }
          #mj_ct_01{
            left: 33px;
            top: 459px;
          }
          .day_week_wrapper{
            .day_week{
              position: absolute;
              font-size: 10px;
              line-height: 16px;
              text-align: center;
              font-weight: 400;
              width: 37px;
              height: 40px;
              top: 263px;
              span{
                font-weight: bold;
                font-size: 14px;
                line-height: 22.4px;
              }
            }
            #monday{
              left: 51px;
            }
            #tuesday{
              left: 141px;
            }
            #wednesday{
              left: 231px;
            }
            #thursday{
              left: 321px;
            }
            #friday{
              left: 411px;
            }
          }
          .time_week_wrapper{
            .time_week{
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 4px 16px;
              position: absolute;
              width: 71px;
              height: 34px;
              border: 1px solid #969696;
              border-radius: 8px;
              color: #969696;
            }
            #m_11{
              left: 32px;
              top: 319px;
            }
            #m_12{
              left: 32px;
              top: 369px;
            }
            #t_11{
              left: 122px;
              top: 319px;
            }
            #t_12{
              left: 122px;
              top: 369px;
            }
            #w_11{
              left: 212px;
              top: 319px;
            }
            #w_12{
              left: 212px;
              top: 369px;
            }
            #th_11{
              left: 302px;
              top: 319px;
            }
            #th_12{
              left: 302px;
              top: 369px;
            }
            #f_11{
              left: 392px;
              top: 319px;
            }
            #f_12{
              left: 392px;
              top: 369px;
            }
          }
          .hobbies_wrapper{
            .hobby_wrapper{
              display: flex;
              gap: 8px;
              position: absolute;
              left: 32px;
              .hobby{
                border: 1px solid #969696;
                color: #969696;
                border-radius: 8px;
                padding: 4px 16px;
                font-size: 16px;
                line-height: 1.6;
              }
            }
            #mj_hw_00{
              top: 517px;
            }
            #mj_hw_01{
              top: 559px;
            }
            #mj_hw_02{
              top: 601px;
            }
          }
          .guide{
            font-size: 14px;
            font-weight: 900;
            line-height: 1.6;
            position: absolute;
            top: 659px;
            left: 33px;
          }
          .btn_wrapper{
            display: flex;
            padding: 16px;
            gap: 16px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            .btn{
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: color.$white;
              width: 232px;
              height: 48px;
            }
            #btn_cancel{
              border: 1px solid #0e2b36;
              color: #0e2b36;
            }
            #btn_join{
              background-color: #0e2b36;
              color: color.$white;
            }
          }
        }
      }
      #meetup_confirm{
        display: none;
        .contents{
          width: 512px;
          height: 620px;
          .title{
            font-size: 24px;
            font-weight: 900;
            line-height: 1.6;
            left: 33px;
            top: 32px;
            position: absolute;
          }
          .desc{
            font-weight: bold;
            font-size: 14px;
            color: color.$orange;
            line-height: 1.6;
            position: absolute;
            top: 83px;
            left: 33px;
          }
          .line{
            position: absolute;
            width: 437px;
            border: 1px solid #000;
            left: 32px;
            top: 140px;
          }
          .content_title{
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            position: absolute;
            left: 33px;
          }
          #mc_ct_00{
            top: 172px;
          }
          #mc_ct_01{
            top: 399px;
          }
          .day_week_wrapper{
            .day_week{
              position: absolute;
              font-size: 10px;
              line-height: 16px;
              text-align: center;
              font-weight: 400;
              width: 37px;
              height: 40px;
              top: 228px;
              span{
                font-weight: bold;
                font-size: 14px;
                line-height: 22.4px;
              }
            }
            #monday{
              left: 51px;
            }
            #tuesday{
              left: 141px;
            }
            #wednesday{
              left: 231px;
            }
            #thursday{
              left: 321px;
            }
            #friday{
              left: 411px;
            }
          }
          .time_week_wrapper{
            .time_week{
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 4px 16px;
              position: absolute;
              width: 71px;
              height: 34px;
              border: 1px solid #969696;
              border-radius: 8px;
              color: #969696;
            }
            .active{
              font-weight: 900;
              color: color.$white;
              background-color: #0e2b36;
            }
            #m_11{
              left: 32px;
              top: 275px;
            }
            #m_12{
              left: 32px;
              top: 325px;
            }
            #t_11{
              left: 122px;
              top: 275px;
            }
            #t_12{
              left: 122px;
              top: 325px;
            }
            #w_11{
              left: 212px;
              top: 275px;
            }
            #w_12{
              left: 212px;
              top: 325px;
            }
            #th_11{
              left: 302px;
              top: 275px;
            }
            #th_12{
              left: 302px;
              top: 325px;
            }
            #f_11{
              left: 392px;
              top: 275px;
            }
            #f_12{
              left: 392px;
              top: 325px;
            }
          }
          .hobbies_wrapper{
            .hobby_wrapper{
              display: flex;
              gap: 8px;
              position: absolute;
              left: 32px;
              .hobby{
                border: 1px solid #969696;
                color: color.$white;
                border-radius: 8px;
                padding: 4px 16px;
                font-size: 16px;
                line-height: 1.6;
                font-weight: 900;
                background-color: #0e2b36;
              }
            }
            #mc_hw_00{
              top: 457px;
            }
          }
          .btn_wrapper{
            display: flex;
            padding: 16px;
            gap: 16px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            .btn{
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: color.$white;
              width: 232px;
              height: 48px;
              color: color.$green;
              border: 1px solid color.$green;
              border-radius: 8px;
              font-weight: 900;
              font-size: 14px;
            }
          }
        }
      }
      #meetup_cancel{
        display: none;
        .contents{
          width: 512px;
          height: 248px;
          .title{
            position: absolute;
            left: 33px;
            top: 32px;
            font-weight: 900;
            font-size: 24px;
            line-height: 1.6;
          }
          .desc{
            position: absolute;
            left: 33px;
            top: 83px;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.6;
          }
          .btn_wrapper{
            display: flex;
            padding: 16px;
            gap: 16px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            .btn{
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: color.$white;
              width: 480px;
              height: 48px;
              color: color.$green;
              border: 1px solid color.$green;
              border-radius: 10px;
            }
          }
        }
      }
      #event_join{
        display: none;
        .contents{
          width: 512px;
          height: 248px;
          .title{
            font-size: 24px;
            font-weight: 900;
            line-height: 1.6;
            left: 33px;
            top: 32px;
            position: absolute;
          }
          .desc{
            font-weight: bold;
            font-size: 14px;
            color: color.$orange;
            line-height: 1.6;
            position: absolute;
            top: 83px;
            left: 33px;
          }
          .line{
            position: absolute;
            width: 437px;
            border: 1px solid #000;
            left: 32px;
            top: 140px;
          }
          .content_title{
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            position: absolute;
            left: 33px;
          }
          .btn_wrapper{
            display: flex;
            padding: 16px;
            gap: 16px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100%;
            .btn{
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: color.$white;
              width: 100%;
              height: 48px;
              color: color.$green;
              border: 1px solid color.$green;
              border-radius: 8px;
              font-weight: 900;
              font-size: 14px;
            }
          }
        }
      }
      #event_cancel{
        display: none;
        .contents{
          width: 512px;
          height: 248px;
          .title{
            font-size: 24px;
            font-weight: 900;
            line-height: 1.6;
            left: 33px;
            top: 32px;
            position: absolute;
          }
          .desc{
            font-weight: bold;
            font-size: 14px;
            line-height: 1.6;
            position: absolute;
            top: 83px;
            left: 33px;
          }
          .line{
            position: absolute;
            width: 437px;
            border: 1px solid #000;
            left: 32px;
            top: 140px;
          }
          .content_title{
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            position: absolute;
            left: 33px;
          }
          .btn_wrapper{
            display: flex;
            padding: 16px;
            gap: 16px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100%;
            .btn{
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: color.$white;
              width: 100%;
              height: 48px;
              color: color.$green;
              border: 1px solid color.$green;
              border-radius: 8px;
              font-weight: 900;
              font-size: 14px;
            }
          }
        }
      }
      #member_detail{
        display: none;
        .contents{
          width: 336px;
          height: 502px;
          .card_container{
            display: flex;
            gap: 16px;
            flex-wrap: wrap;
            width: 100%;
            .card{
              display: flex;
              flex-direction: column;
              gap: 16px;
              background-color: color.$white;
              border-radius: 10px;
              padding: 20px;
              width: 100%;
              .pic_name{
                width: 173px;
                display: flex;
                gap: 24px;
                align-items: center;
                .name_wrapper{
                  display: flex;
                  flex-direction: column;
                  gap: 8px;
                  .name{
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1.3;
                  }
                  .sub{
                    font-size: 10px;
                    font-weight: 600;
                    line-height: 1.3;
                  }
                }
              }
              .intro{
                font-size: 10px;
                font-weight: 600;
                line-height: 1.3;
              }
              .tag{
                display: flex;
                gap: 4px;
                span{
                  font-size: 10px;
                  font-weight: 600;
                  line-height: 1.3;
                  border: 1px solid #000;
                  border-radius: 10px;
                  padding: 2px 4px;
                }
              }
              .line{
                border: 1px solid #000;
                width: 100%;
              }
              .contact{
                display: flex;
                flex-direction: column;
                gap: 8px;
                .info{
                  font-weight: 500;
                  font-size: 10px;
                  line-height: 11.93px;
                }
                .belong{
                  display: flex;
                  gap: 8px;
                  .item{
                    display: inline;
                    padding: 4px;
                    border-radius: 10px;
                    color: color.$white;
                    font-weight: bold;
                    line-height: 1.3;
                    font-size: 10px;
                  }
                  #maru180{
                    background-color: color.$green;
                  }
                  #ict_coc{
                    background-color: #004076;
                  }
                  #d_camp{
                    background-color: color.$orange;
                  }
                }

              }
              .title{
                font-weight: bold;
                font-size: 10px;
                line-height: 13px;
              }
              .event_container{
                display: flex;
                flex-direction: column;
                gap: 8px;
                overflow-y: scroll;
                .event{
                  padding: 16px;
                  border: 2px solid #f4f4f4;
                  border-radius: 10px;
                  display: flex;
                  flex-direction: column;
                  gap: 8px;
                  .title_state{
                    display: flex;
                    justify-content: space-between;
                    .title{
                      font-weight: bold;
                      font-size: 14px;
                      line-height: 1.3;
                    }
                    .state{
                      display: inline;
                      background-color: color.$orange;
                      color: color.$white;
                      font-weight: 900;
                      line-height: 1.3;
                      padding: 2px 3px;
                      border-radius: 16.5333px;
                      font-size: 8px;
                    }
                  }
                  .time_writer{
                    display: flex;
                    justify-content: space-between;
                    .time{
                      font-weight: bold;
                      font-size: 10px;
                      line-height: 1.3;
                    }
                    .writer{
                      font-weight: 400;
                      font-size: 10px;
                      line-height: 1.3;
                    }
                  }
                }
              }
            }
          }
        }
      }
      #meetup_fail{
        display: none;

        .contents{
          width: 512px;
          height: 226px;
          .title{
            padding: 16px 32px;
            font-weight: 900;
            font-size: 24px;
            line-height: 1.6;
          }
          .desc{
            padding: 16px 32px;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.6;
          }
          .btn_wrapper{
            display: flex;
            padding: 16px;
            gap: 16px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            .btn{
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: color.$white;
              width: 480px;
              height: 48px;
              color: color.$green;
              border: 1px solid color.$green;
              border-radius: 10px;
            }
          }
        }
      }
      #matching_confirm{
        display: none;

        .contents{
          width: 512px;
          .title{
            color: color.$green;
            padding: 16px 32px;
            font-weight: 900;
            font-size: 24px;
            line-height: 1.6;
          }
          .desc{
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 16px 32px;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.6;
            .text{
              font-weight: bold;
              font-size: 14px;
              line-height: 1.6;
              li{
                list-style-type: disc;
                list-style-position: inside;
              }
            }
            .yellow{
              color: color.$orange;
            }
          }
          .btn_wrapper{
            width: 100%;
            display: flex;
            padding: 16px;
            gap: 16px;
            left: 0px;
            bottom: 0px;
            .btn{
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: color.$white;
              flex: 1;
              height: 48px;
              color: color.$green;
              border: 1px solid color.$green;
              border-radius: 10px;
            }
          }
        }
      }
      #matching_result{
        display: none;

        .contents{
          width: 512px;
          .title{
            color: color.$green;
            padding: 16px 32px;
            font-weight: 900;
            font-size: 24px;
            line-height: 1.6;
          }
          .desc{
            display: flex;
            flex-direction: column;
            gap: 16px;
            padding: 16px 32px;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.6;
            .text{
              font-weight: bold;
              font-size: 14px;
              line-height: 1.6;
              li{
                list-style: disc;
                list-style-position: initial;
              }
              li::marker{
                margin-left: 0px;
              }
            }
            .yellow{
              color: color.$orange;
            }
          }
          .btn_wrapper{
            width: 100%;
            display: flex;
            padding: 16px;
            gap: 16px;
            left: 0px;
            bottom: 0px;
            .btn{
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: color.$white;
              flex: 1;
              height: 48px;
              color: color.$green;
              border: 1px solid color.$green;
              border-radius: 10px;
            }
          }
        }
      }
      #event_create_confirm{
        display: none;

        .contents{
          width: 512px;
          height: 320px;
          .title{
            position: absolute;
            left: 33px;
            top: 32px;
            font-weight: 900;
            font-size: 24px;
            line-height: 1.6;
          }
          .desc{
            position: absolute;
            left: 33px;
            top: 86px;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.6;
            ul{
              li{
                list-style: disc;
                list-style-position: inside;
              }
            }
          }
          .yellow{
            color: color.$orange;
            margin-top: 24px;
          }
          .btn_wrapper{
            display: flex;
            padding: 16px;
            gap: 16px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            .btn{
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: color.$white;
              width: 232px;
              height: 48px;
              color: color.$green;
              border: 1px solid color.$green;
              border-radius: 10px;
              font-weight: 900;
              font-size: 14px;
              line-height: 1.3;
            }
          }
        }
      }
      #event_create_confirm_01{
        display: none;

        .contents{
          width: 512px;
          height: 320px;
          .title{
            position: absolute;
            left: 33px;
            top: 32px;
            font-weight: 900;
            font-size: 24px;
            line-height: 1.6;
          }
          .desc{
            position: absolute;
            left: 33px;
            top: 86px;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.6;
            ul{
              li{
                list-style: disc;
                list-style-position: inside;
              }
            }
          }
          .yellow{
            color: color.$orange;
            margin-top: 24px;
          }
          .btn_wrapper{
            display: flex;
            padding: 16px;
            gap: 16px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            .btn{
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: color.$white;
              width: 232px;
              height: 48px;
              color: color.$green;
              border: 1px solid color.$green;
              border-radius: 10px;
              font-weight: 900;
              font-size: 14px;
              line-height: 1.3;
            }
          }
        }
      }
      #event_cancel_01{
        display: none;
        .contents{
          width: 512px;
          height: 248px;
          .title{
            position: absolute;
            left: 33px;
            top: 32px;
            font-weight: 900;
            font-size: 24px;
            line-height: 1.6;
          }
          .desc{
            position: absolute;
            left: 33px;
            top: 83px;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.6;
          }
          .btn_wrapper{
            display: flex;
            padding: 16px;
            gap: 16px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            .btn{
              font-weight: 900;
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: color.$white;
              width: 232px;
              height: 48px;
              color: color.$green;
              border: 1px solid color.$green;
              border-radius: 10px;
            }
          }
        }
      }
      #event_edit_confirm{
        display: none;
        .contents{
          width: 512px;
          height: 248px;
          .title{
            position: absolute;
            left: 33px;
            top: 32px;
            font-weight: 900;
            font-size: 24px;
            line-height: 1.6;
          }
          .desc{
            position: absolute;
            left: 33px;
            top: 83px;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.6;
          }
          .btn_wrapper{
            display: flex;
            padding: 16px;
            gap: 16px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            .btn{
              font-weight: 900;
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: color.$white;
              width: 232px;
              height: 48px;
              color: color.$green;
              border: 1px solid color.$green;
              border-radius: 10px;
            }
          }
        }
      }
      //modal_my_page
      #enter_cancel{
        display: none;

        .contents{
          width: 512px;
          height: 248px;
          .title{
            position: absolute;
            left: 33px;
            top: 32px;
            font-weight: 900;
            font-size: 24px;
            line-height: 1.6;
          }
          .desc{
            position: absolute;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.6;
            top: 86px;
            left: 33px;
          }
          .icon{
            position: absolute;
            right: 32px;
            top: 32px;
            padding: 5px;
            a{
              width: 24px;
              height: 24px;
            }
          }
          .btn_wrapper{
            display: flex;
            padding: 16px;
            gap: 16px;
            position: absolute;
            left: 0px;
            bottom: 0px;
            .btn{
              font-weight: 900;
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: color.$white;
              width: 232px;
              height: 48px;
              color: color.$green;
              border: 1px solid color.$green;
              border-radius: 10px;
            }
          }
        }
      }
      #account_delete{
        display: none;

        .contents{
          .title{
            display: flex;
            justify-content: space-between;
            padding: 32px;
            font-weight: 900;
            font-size: 24px;
            line-height: 1.6;
          }
          .desc{
            font-weight: bold;
            font-size: 14px;
            line-height: 1.6;
            color: color.$orange;
            padding: 16px 32px;
          }
          .icon{
            position: absolute;
            right: 32px;
            top: 32px;
            padding: 5px;
            a{
              width: 24px;
              height: 24px;
            }
          }
          .btn_wrapper{
            display: flex;
            padding: 16px;
            gap: 16px;
            .btn{
              font-weight: 900;
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: color.$white;
              width: 232px;
              height: 48px;
              color: color.$green;
              border: 1px solid color.$green;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
  a{
    color: inherit;
  }
  }
